/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run qbic-pipelines/rnadeseq -profile test_star_rsem
 */

params {
    config_profile_name = 'Test star rsem'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    // Input data
    input = 'testdata/QDESQ/QDESQ_Sample_preparations.tsv'
    gene_counts = 'testdata/QDESQ/star_rsem/'
    model = 'testdata/QDESQ/QDESQ_design.txt'
    genelist = 'https://raw.githubusercontent.com/qbic-pipelines/rnadeseq/dev/testdata/requested_genes.txt'
    logFC_threshold = 1
    //report_options = 'https://raw.githubusercontent.com/qbic-pipelines/rnadeseq/dev/testdata/report_options.yml'
    project_summary = 'https://raw.githubusercontent.com/qbic-pipelines/rnadeseq/dev/testdata/summary.tsv'
    software_versions = 'https://raw.githubusercontent.com/qbic-pipelines/rnadeseq/dev/testdata/software_versions_rsem.yml'
    multiqc = 'https://raw.githubusercontent.com/qbic-pipelines/rnadeseq/dev/testdata/MultiQC.zip'
    input_type = 'rsem'
    run_pathway_analysis = true
    genome = 'GRCh37'
    // species_library     = "org.Hs.eg.db"
    // organism    = "hsapiens"
    // keytype     = "ENSEMBL"
    // gtf         = "s3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
}
