/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run qbic-pipelines/rnadeseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = "Test profile"
    config_profile_description = "Minimal test dataset to check pipeline function"
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    // Input data
    input = "${projectDir}/testdata/Sample_preparations.tsv"
    gene_counts = "${projectDir}/testdata/merged_gene_counts.txt"
    model = "${projectDir}/testdata/design_batcheffect.txt"
    genelist = "${projectDir}/testdata/requested_genes.txt"
    //report_options = "${projectDir}/testdata/report_options.yml"
    project_summary = "${projectDir}/testdata/summary.tsv"
    software_versions = "${projectDir}/testdata/software_versions.csv"
    multiqc = "${projectDir}/testdata/MultiQC.zip"
    genome = "GRCm38"
    batch_effect = true
}
