/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run qbic-pipelines/rnadeseq -profile test_smrnaseq
 */

params {
    config_profile_name = 'Test smrnaseq'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    // Input data
    input = 'testdata/smrnaseq/samplesheet.tsv'
    gene_counts = 'testdata/smrnaseq/counts'
    model = 'testdata/smrnaseq/design.txt'
    logFC_threshold = 1
    project_summary = 'https://raw.githubusercontent.com/qbic-pipelines/rnadeseq/dev/testdata/summary.tsv'
    software_versions = '/home-link/iivow01/git/rnadeseq/testdata/smrnaseq/software_versions.yml'
    genelist = 'testdata/smrnaseq/requested_genes.txt'
    input_type = 'smrnaseq'
    run_pathway_analysis = true
    genome = 'GRCh37'
    batch_effect = true
    set_background = false // This is solely to get some enriched pathways so that the github tests also check the pathway analysis output
    // species_library     = "org.Hs.eg.db"
    // organism    = "hsapiens"
}
