/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run qbic-pipelines/rnadeseq -profile test_smrnaseq
 */

params {
    config_profile_name = 'Test smrnaseq'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    // Input data
    input = '/sfs/9/ws/qeajl01-QBCOS_smrna/data/smrnaseq/deseq_input_1_batch_contrasts_all/QBCOS_sample_preparations_smrnaseq_edit.tsv'
    gene_counts = '/sfs/9/ws/iivow01-test/rnadeseq/testdata/smrnaseq/merged_gene_counts_noHBLAK_introducedDE.txt'
    model = '/sfs/9/ws/qeajl01-QBCOS_smrna/data/smrnaseq/deseq_input_1_batch_contrasts_all/linear_model_timepoint.txt'
    contrast_list = '/sfs/9/ws/qeajl01-QBCOS_smrna/data/smrnaseq/deseq_input_1_batch_contrasts_all/contrast_list_timepoint.tsv'
    logFC_threshold = 1
    adj_pval_threshold = 0.05
    //report_options = '/sfs/9/ws/qeajl01-QBCOS_smrna/data/smrnaseq/report_options.yml'
    project_summary = '/sfs/9/ws/qeajl01-QBCOS_smrna/data/QBCOS_20230612105025_summary.tsv'
    software_versions = '/sfs/9/ws/qeajl01-QBCOS_smrna/results/smrnaseq/out_smrnaseq_2/pipeline_info/software_versions.yml'
    run_pathway_analysis = true
    genome = 'GRCh37'
    batch_effect = true
    
    // species_library     = "org.Hs.eg.db"
    // organism    = "hsapiens"
    // keytype     = "ENSEMBL"
    // gtf         = "s3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
}
